*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.text-center{
    text-align: center;
    font-size: large;
}
.container{
    background-color: rgb(228, 161, 62);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    width: 100vh;
    border-radius: 10px;
    margin-top: 80px;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aqua;
}
h4{
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;

}

.button{
    padding: 23px;
    margin: 18px;
    border-radius: 14px;
    border: 2px solid black;
    cursor: pointer;
}
.row input{
    height: 75px;
    width: 350px;
    font-size: 25px;
}